# IntelliJ IDE files
.idea/
*.iml

# Build output
out/
*.class

# Logs
*.log

# OS/macOS system files
.DS_Store

# OS/Windows system files
Thumbs.db
desktop.ini

# Package Files
*.jar
*.war
*.ear
*.zip

# Backup/temporary files
*.tmp

